.DS_Store
.env
*.log
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
app/
src/logs/*
src/__pycache__/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
src/debug.log
credentials
debug.log
Dockerfile.dev
docker-compose.yml
